@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-date-range/dist/styles.css'; // main style file
@import "react-image-gallery/styles/scss/image-gallery.scss";
@import 'react-date-range/dist/theme/default.css'; // theme css file

@import './styles/constants';
@import './styles/utility';
@import 'components/client/global-navbar';
@import './components/share/input/input';
@import './components/share/data-range-picker/date-range-picker';